select {
  word-wrap: normal;
  display: block;
  width: 100%;
  height: calc(1.5em +.75rem + 7px);
  padding: .37rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: .25rem;
}

tr:hover button{
  opacity: 1 !important;
}